body {
  margin: 0;
  font-family: "Special Elite", monospace;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
}

.contenedor {
  min-height: 100vh;
  padding: 80px 60px;
  background-color: rgba(255,255,255,0.65);
}

h1 {
  font-size: 48px;
  margin-bottom: 40px;
}

p {
  max-width: 700px;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 24px;
}


.contacto {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contacto a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  opacity: 0.8;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.contacto a:hover {
  opacity: 1;
  transform: translateX(2px);
}

.contactos {
  display: block;        /* o ni lo pongas */
}

.fila-contacto {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  gap: 90px;
  margin-bottom: 10px;
}
 


.apoyo {
  margin: 40px 0;
}

.apoyo a {
  font-family: "Special Elite", monospace;
  color: rgb(13, 13, 13);
  text-decoration: none;
  font-size: 20px;
  opacity: 0.6;
  border-bottom: 1px solid rgba(13,13,13,0.4);
  padding-bottom: 4px;
  transition: opacity 0.2s ease;
}

.apoyo a:hover {
  opacity: 1;
}

.menu {
  display: flex;
  gap: 20px;
}


.menu a:hover {
  opacity: 1;
}

nav {
  margin-top: 40px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

.menu a {
  font-family: "Special Elite", monospace;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 8px 14px;
  font-size: 40px;
  opacity: 0.6;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.menu a:hover {
  opacity: 0.3;
  transform: translateX(1px);
}


@media (max-width: 768px) {

    .menu {
    flex-direction: column;
    align-items: center;
  }

  main {
    padding: 30px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}