



body {
  margin: 0;
  font-family: "Special Elite", monospace;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
}


#portal {
  position: fixed;
  inset: 0;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  z-index: 9999;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.portal-texto {
  font-family: "Special Elite", monospace;
  color: rgba(0, 0, 0,);
  font-size: 32px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

main {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

main {
  position: relative;
  background-color: rgba(180, 203, 210, 0.55);
  min-height: 100vh;
  padding: 70px;
}

/* capa de la imagen */
main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.45;   /* 👈 ACÁ cambiás la opacidad de la foto */
  background-position: calc(50% + 15px) center; /* 👈 el glitch */
  z-index: -1;
}

h1 {
  font-size: 60px;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

p {
  max-width: 1000px;
  font-size: 30px;
  letter-spacing: 0.03em;
  line-height: 1.6;
}


.menu {
  margin-top: 50px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  opacity: 0;
}


.menu a {
  font-family: "Special Elite", monospace;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 8px 14px;
  font-size: 40px;
  transition: all 0.2s ease;
}

.menu a:hover {
  background-color: rgba(37, 33, 33, 0.1);
  transform: translateX(1px);
}



@media (max-width: 768px) {

  .portal-texto {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 1.4;
    padding: 0 20px;
    text-align: center;
  }

  main {
    padding: 30px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}