body {
  margin: 0;
  font-family: "Special Elite", monospace;
  color: white;
}

/* fondo */
.mapobra {
  min-height: 100vh;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  padding: 60px;
}

/* menú */

nav {
  margin-top: 40px;
}

nav a {
  color: rgb(26, 22, 22);
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

/* contenedor encima de la imagen */
.contenedor {
  max-width: 1500px;
  margin-top: 60px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
  overflow: visible;
}

h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

.titulo-galeria {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 28px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.galeria img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.foto-ancha {
  grid-column: span 2;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lightbox.activo {
  display: flex;
}

.lightbox img {
  max-width: 90%;
  max-height: 90vh;
  object-fit: contain;
}

.menu a {
  font-family: "Special Elite", monospace;
  color: rgb(13, 13, 13);
  text-decoration: none;
  padding: 8px 14px;
  font-size: 40px;
  display: inline-block;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.menu a:hover {
  opacity: 0.3;
  transform: translateX(1px);
}

.pdf {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 18px;

  border: 1px solid white;
  color: white;
  text-decoration: none;
}

.pdf:hover {
  background-color: rgba(255,255,255,0.15);
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

@media (max-width: 768px) {
  main {
    padding: 30px;
  }
    .video-wrapper {
    margin: 30px auto;
  }
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 6px;
  }
}