body {
  margin: 0;
  font-family: "Special Elite", monospace;
  color: white;
}

/* fondo */
.mapobra {
  min-height: 100vh;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  padding: 60px;
}

/* menú */

nav {
  margin-top: 40px;
}

nav a {
  color: rgb(26, 22, 22);
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

/* contenedor encima de la imagen */
.contenedor {
  max-width: 1500px;
  margin-top: 60px;
  padding: 40px;

  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
}

h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.galeria img {
  max-width: 100%;
  height: auto;
  justify-self: center;  /* centra las más chicas */
}

.menu a {
  font-family: "Special Elite", monospace;
  color: rgb(13, 13, 13);
  text-decoration: none;
  padding: 8px 14px;
  font-size: 40px;
  display: inline-block;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.menu a:hover {
  opacity: 0.3;
  transform: translateX(1px);
}

.pdf {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 18px;

  border: 1px solid white;
  color: white;
  text-decoration: none;
}

.pdf:hover {
  background-color: rgba(255,255,255,0.15);
}

@media (max-width: 768px) {
  main {
    padding: 30px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 6px;
  }
}